<nav class="pagination is-centered">
  <ul class="pagination-list">
    <li appClass>
      <a class="pagination-previous" (click)="currentPage = currentPage - 1"
        >Previous</a
      >
    </li>

    <ng-container *appTimes="images.length; let i = index">
      <li class="">
        <a
          *ngIf="checkWindowIndex(i)"
          (click)="currentPage = i"
          class="pagination-link"
          [appClass]="{ 'is-current': i === currentPage }"
          >{{ i + 1 }}
        </a>
      </li>
    </ng-container>
    <li>
      <a class="pagination-next" (click)="currentPage = currentPage + 1"
        >next</a
      >
    </li>
  </ul>
</nav>
<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img src="{{ images[currentPage].url }}" alt="" />
</div>

<ul *appTimes="5; let i = index">
  <li>ilma }}</li>
</ul>
