<div class="container">
  <div class="columns">
    <div *ngFor="let post of posts" class="box column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img [src]="post.imageUrl" alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4">{{ post.title }}</p>
            <p class="subtitle is-6">Nature</p>

            <div class="content">
              {{ post.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
